.mk-btn {
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, rgb(16, 108, 206), rgb(82, 40, 181));
  color: rgb(255, 255, 255);
  transition: .4s;
}

.mk-btn:hover {
  opacity: .9;
}
