.map {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  width: 800px;
  align-items: center;
  justify-content: center;
}

.map button {
  width: 400px;
  margin: auto;
}
